$scrollbar-width: 9.74em;
$scrollbar-height: 0.36em;


.swiper-scrollbar { 
    position: relative !important;
    margin: 2.08em auto 0;
    width: $scrollbar-width !important;
    height: $scrollbar-height !important;
    background: #333333;

    @media screen and (max-width: 465px) {
        width: 54.74em !important;
        height: 1.5em !important;
        margin: 8em auto 0;
    }

    &-drag {
        background: linear-gradient(107.52deg, #94D8FF -3.8%, #9887FF 74.8%) !important;
    }
}

//is for launchpad numbers slider
.slide.swiper-slide {
    width: 31.15em;
    height: auto;

    @media screen and (max-width: 465px) {
        width: 89.33em;
      }
}

//is for launchpad slider
.launchpad__slider-card.swiper-slide {
    width: 23.13em;

    @media screen and (max-width: 465px) {
        width: 89.33em;
      }
}

.launchpad-scrollbar.swiper-scrollbar-horizontal {
    width: $scrollbar-width;
    height: $scrollbar-height;
    background-color: #D9D9D9;
    border-radius: 100vw;
    margin: 0 auto;

    @media screen and (max-width: 465px) {
        width: 54.74em !important;
        height: 1.5em !important;
        margin: 8em auto 0;
    }
}

//is for hero slider
.swiper-pagination {
    position: relative !important;
    margin-top: 1.30em;
    text-align: left !important;
    margin-left: 7.29em;

    @media screen and (max-width: 465px) {
        text-align: center !important;
        margin-left: 0em;
      }

    &-bullet {
        background-color: #D9D9D9 !important;
        opacity: 1 !important;

        &-active {
            background-color: #FA3F26 !important;  
        }
    }   
}