$scrollbar-width: 9.74em;
$scrollbar-height: 0.36em;


.swiper-scrollbar { 
    position: relative !important;
    margin: 2.08em auto 0;
    width: $scrollbar-width !important;
    height: $scrollbar-height !important;
    background: #333333;

    @media screen and (max-width: 465px) {
        width: 54.74em !important;
        height: 1.5em !important;
        margin: 8em auto 0;
    }

    &-drag {
        background: linear-gradient(107.52deg, #94D8FF -3.8%, #9887FF 74.8%) !important;
    }
}

//is for launchpad numbers slider
.slide.swiper-slide {
    width: 31.15em;
    height: auto;

    @media screen and (max-width: 991px) {
        width: 45em;
      }

    @media screen and (max-width: 465px) {
        width: 89.33em;
      }
}

//is for launchpad slider
.launchpad__slider-card.swiper-slide {
    width: 23.13em;

    @media screen and (max-width: 991px) {
        width: 44.66em;
      }

    @media screen and (max-width: 465px) {
        width: 89.33em;
      }
}

.launchpad-scrollbar.swiper-scrollbar-horizontal {
    width: $scrollbar-width;
    height: $scrollbar-height;
    background-color: #D9D9D9;
    border-radius: 100vw;
    margin: 0 auto;

    @media screen and (max-width: 465px) {
        width: 54.74em !important;
        height: 1.5em !important;
        margin: 8em auto 0;
    }
}

//is for hero slider
.swiper-pagination {
    position: relative !important;
    margin-top: 1.30em;
    text-align: left !important;
    margin-left: 7.29em;

    @media screen and (max-width: 991px) {
        text-align: center !important;
        margin-left: 0em;
      }

    &-bullet {
        background-color: #D9D9D9 !important;
        opacity: 1 !important;

        &-active {
            background-color: #764AD3 !important;  
        }
    }   
}

//is brands slider
.brand-slider {
    &__slide {
        height: 40em !important;

        @media screen and (max-width: 991px) {
            height: auto !important;
        }
    }

    &__arrow.right {
        transform: rotate(180deg);
    }

    & .swiper-pagination {
        position: absolute !important;
        bottom: -5em !important;
        left: 0 !important;
        margin-left: 0em;
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        padding-right: 10em;

        @media screen and (max-width: 991px) {
            justify-content: center;
            padding-right: 0em;
            bottom: -9em !important;
            gap: 2em;
        }

        @media screen and (max-width: 465px) {
            bottom: -12em !important;
        }

        &-bullet {
            width: 3.65em;
            height: 3.65em;
            margin-right: 0 !important;
            margin-left: 0 !important;
            background-color: transparent !important;
            filter: grayscale(1) contrast(0.39);
            transition: all .2s;
            background-size: 100% 100%;
            flex-shrink: 0;
            flex-grow: 0;

            @media screen and (max-width: 991px) {
                width: 7em;
                height: 7em;
            }

            @media screen and (max-width: 465px) {
                width: 9em;
                height: 9em;
            }
            

            &:nth-child(1) {
                background-image: url('https://uploads-ssl.webflow.com/63c9878806c2d26dbdb86947/63c9878806c2d2fde0b869a6_1.svg');
                background-repeat: no-repeat;
                background-position: center;
            }

            &:nth-child(2) {
                background-image: url('https://uploads-ssl.webflow.com/63c9878806c2d26dbdb86947/63c9878806c2d20a8cb869a3_2.svg');
                background-repeat: no-repeat;
                background-position: center;
            }

            &:nth-child(3) {
                background-image: url('https://uploads-ssl.webflow.com/63c9878806c2d26dbdb86947/63c9878806c2d2e1fab869a2_3.svg');
                background-repeat: no-repeat;
                background-position: center;
            }

            &:nth-child(4) {
                background-image: url('https://uploads-ssl.webflow.com/63c9878806c2d26dbdb86947/63c9878806c2d2846db869a7_4.svg');
                background-repeat: no-repeat;
                background-position: center;
            }

            &:nth-child(5) {
                background-image: url('https://uploads-ssl.webflow.com/63c9878806c2d26dbdb86947/63c9878806c2d24608b869a5_5.svg');
                background-repeat: no-repeat;
                background-position: center;
            }

            &:nth-child(6) {
                background-image: url('https://uploads-ssl.webflow.com/63c9878806c2d26dbdb86947/63c9878806c2d28c0fb869a4_6.svg');
                background-repeat: no-repeat;
                background-position: center;
            }

            &-active {
                filter: grayscale(0) contrast(1);
            }
        }
    }
    
}


.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    top: 0;
    margin: 0;
    z-index: 11;

    @media screen and (max-width: 991px) {
        width: 7em;
        height: 7em;
    }

    @media screen and (max-width: 460px) {
        width: 5em;
        height: 5em;
    }
}

.swiper-button-prev {
    @media screen and (max-width: 991px) {
        bottom: -0.83em !important;
    }

    @media screen and (max-width: 460px) {
        bottom: -4em !important;
    }
}

.swiper-button-next {
    @media screen and (max-width: 991px) {
        bottom: -9.3em !important;
    }

    @media screen and (max-width: 460px) {
        bottom: -10.1em !important;
    }
}


.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    background-image: url('https://uploads-ssl.webflow.com/63c9878806c2d26dbdb86947/63d3e0a8bff97961ad2282cf_chevron-right.svg');
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 460px) {
        width: 100%;
        height: 100%;
    }
}

