@import './my-swiper.css';
@import './stickyBlock.css';

main {
  visibility: hidden;
}

.loader {
  display: block;
}

.burger__item.w--current{
  pointer-events: none;
}

.burger__item.w--current .h3--84 {
  color: #7870F1;
}

::selection {
  background-color: #7870F1;
  color: white;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: transparent;
}

.tabs__tab-link:has(+.tabs__tab-link.w--current) {
  border-bottom:  1px solid #f3f3f3;
}

.js-accordion-item:has(+.js-accordion-item.active) {
  border-bottom:  1px solid #fff;
}

.js-accordion-body {
	display: none;
}

@media screen and (max-width: 479px) {
  .tabs__tab-link.w--current .tabs__link-img {
    display: block !important;
  }
}
